<!DOCTYPE html>
<html>

<head>
  {{!-- this is the code that the activitity uses --}}
  {{!-- <meta charset="utf-8"> --}}


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"> --}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  {{!-- <title>Home Page</title> --}}

  {{!-- this is the code that the template uses --}}
  <meta charset="utf-8">
  <title>MutChat</title>
  <meta name="description" content="#">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap core CSS -->
  {{!-- this link connects the higher level file main.handblebars to the deeper level file that exits inside the file located in the template--}}
  <link href="/templates/Swipe - The Simplest Chat Platform/html/dist/css/lib/bootstrap.min.css"
    type="text/css" rel="stylesheet">
  {{!-- //this link was used to find the my way back to the higher level. it mirrors the above and it is the original  --}}
  {{!-- <link href="dist/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet"> --}}
  <!-- Swipe core CSS -->
  {{!-- this link connects the higher level file main.handblebars to the deeper level file that exits inside the file located in the template--}}
  <link href="/templates/Swipe - The Simplest Chat Platform/html/dist/css/swipe.css" type="text/css"
    rel="stylesheet">
  {{!-- //this link was used to find the my way back to the higher level. it mirrors the above and it is the original  --}}
  {{!-- <link href="dist/css/swipe.css" type="text/css" rel="stylesheet"> --}}
  {{!-- this link connects the higher level file main.handblebars to the deeper level file that exits inside the file located in the template--}}
  <link href="/templates/Swipe - The Simplest Chat Platform/html/dist/css/custom.css" type="text/css"
    rel="stylesheet">
  {{!-- //this link was used to find the my way back to the higher level. it mirrors the above and it is the original  --}}
  {{!-- <link href="dist/css/custom.css" type="text/css" rel="stylesheet"> --}}


  {{!-- material design --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">





  <!-- Favicon -->
  {{!-- this link connects the higher level file main.handblebars to the deeper level file that exits inside the file located in the template--}}
  <link href="../../public/templates/Swipe - The Simplest Chat Platform/html/dist/img/favicon.png" type="image/png"
    rel="icon">
  {{!-- //this link was used to find the my way back to the higher level. it mirrors the above and it is the original  --}}
  {{!-- <link href="dist/img/favicon.png" type="image/png" rel="icon"> --}}

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>

<body>
  {{{body}}}
</body>

</html>